<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [4]:
print('Numpy: ', "np_1.17.2_")
print('Pandas: '," pd_0.25.1_")

Numpy:  np_1.17.2_
Pandas:   pd_0.25.1_

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [5]:
# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = 0)
print(bikes.head())

FileNotFoundError: [Errno 2] No such file or directory: 'dat/bikeshare.csv'

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [6]:
bikes = pd.read_table('..\\DATA\\bikeshare.csv', header = None)
print(bikes.head())
print()

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

In [7]:
bikes = pd.read_table('../DATA/bikeshare.csv')
print(bikes.head())
print()

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

In [20]:
#ANSWER:

- instant: record index
- dteday : date
- season : season (1:springer, 2:summer, 3:fall, 4:winter)
- yr : year (0: 2011, 1:2012)
- mnth : month ( 1 to 12)
- hr : hour (0 to 23)
- holiday : weather day is holiday or not (extracted from http://dchr.dc.gov/page/holiday-schedule)
- weekday : day of the week
- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
+ weathersit : 
    - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
    - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
    - 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
    - 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- temp : Normalized temperature in Celsius. The values are divided to 41 (max)
- atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)
- hum: Normalized humidity. The values are divided to 100 (max)
- windspeed: Normalized wind speed. The values are divided to 67 (max)
- casual: count of casual users
- registered: count of registered users
- cnt: count of total rental bikes including both casual and registered

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be dealt with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [0]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [5]:
conda install -c conda-forge xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 4.9.2
  latest version: 4.10.3

Please update conda by running

    $ conda update -n base -c defaults conda

## Package Plan ##

  environment location: C:\Users\BingBings\anaconda3

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.3               |   py38haa244fe_2         3.1 MB  conda-forge
    python_abi-3.8             |           2_cp38           4 KB  conda-forge
    xlrd-1.2.0                 |             py_0         108 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.2 MB

The following NEW packages will be INSTALLED:

  python_abi         conda-forge/win-64::python_abi-3.8-2_cp38

The following packages will be UPDATED:

  conda               pkgs/main::conda-4.9.2-py38haa95532_0 --> conda-forge::conda-4.10.3-py38haa244fe_2

The following packages will be SUPERSEDED by a higher-priority channel:

  xlrd                                            pkgs/main --> conda-forge



Downloading and Extracting Packages

conda-4.10.3         | 3.1 MB    |            |   0%
conda-4.10.3         | 3.1 MB    |            |   1%
conda-4.10.3         | 3.1 MB    | ########5  |  85%
conda-4.10.3         | 3.1 MB    | ########## | 100%

xlrd-1.2.0           | 108 KB    |            |   0%
xlrd-1.2.0           | 108 KB    | ########## | 100%
xlrd-1.2.0           | 108 KB    | ########## | 100%

python_abi-3.8       | 4 KB      |            |   0%
python_abi-3.8       | 4 KB      | ########## | 100%
python_abi-3.8       | 4 KB      | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [3]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [0]:
df = pd.read_excel('dat/Iris.xls', sheet_name = 'Iris')
df

In [5]:
pwd

'C:\\Users\\BingBings\\Downloads\\Python Class\\LAB'

In [2]:
df = pd.read_excel('..\DATA\Iris.xls')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

In [3]:
df = pd.read_excel(r'C:\Users\BingBings\Downloads\Python Class\DATA\Iris.xls')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [9]:
#ANSWER
df = pd.read_excel('..\DATA\Iris.xls', usecols=[0,4]) #usecols=['Petal_length']
df

     Species_No  Sepal_length
0             1           5.1
1             1           4.9
2             1           4.7
3             1           4.6
4             1           5.0
..          ...           ...
145           3           6.7
146           3           6.3
147           3           6.5
148           3           6.2
149           3           5.9

[150 rows x 2 columns]

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [0]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

In [14]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-10-04T06:34:14.106Z,-30.0032,-177.513,29.18,5.5,mww,NaN,70,0.819,0.62,...,2021-10-04T07:02:58.040Z,"Kermadec Islands, New Zealand",earthquake,8.6,4.4,0.089,12,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [0]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
df = pd.read_html(url)
df

In [30]:
url = 'https://en.wikipedia.org/wiki/Mobile_country_code'
df = pd.read_html(url)
df

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[4]
 3  Internal use in private networks, no roaming[4]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns],
     MCC  MNC     Brand                                           Operator  \
 0   901    1       ICO                           ICO Satellite Management
 1   901    2       NaN                                         Unassigned
 2   901    3   Iridium                                                NaN
 3   901    4       NaN                                         Unassigned
 4   901    5       NaN                               Thuraya RMSS Network
 ..  ...  ...       ...                                                ...
 83  901   88       NaN  UN Office for the Coordination of Humanitarian...
 84  902    1       NaN                                 MulteFire Alliance
 85  991    1       NaN                             World's Global Telecom
 86  991    2  5G Croco                                        Orange S.A.
 87  991    3       NaN                                          Halys SAS

              Status Bands (MHz)  \
 0   Not operational   Satellite
 1    Returned spare     Unknown
 2       Operational   Satellite
 3    Returned spare   Satellite
 4       Operational   Satellite
 ..              ...         ...
 83          Unknown     Unknown
 84      Operational         LTE
 85  Not operational     Unknown
 86          Unknown          5G
 87          Unknown     Unknown

                                  References and notes
 0                                   MNC withdrawn[48]
 1        Formerly: Sense Communications International
 2                                                 NaN
 3                                Formerly: Globalstar
 4                                                 NaN
 ..                                                ...
 83                                               [96]
 84                                            [4][97]
 85  temporarily assigned until 15 January 2021[85]...
 86   temporarily assigned until 6 August 2022[99][95]
 87  temporary assignment for trial until 5.IV.2022...

 [88 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteTelecommunications  \
 0                                            History
 1                                           Pioneers
 2                                  Transmissionmedia
 3                      Network topologyand switching
 4                                       Multiplexing
 5                                           Concepts
 6                                   Types of network
 7                                   Notable networks
 8                                          Locations
 9  Telecommunication portal  Category  Outline  C...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteTelecommunications.1  \
 0  Beacon Broadcasting Cable protection system Ca...
 1  Nasir Ahmed Edwin Howard Armstrong Mohamed M. ...
 2  Coaxial cable Fiber-optic communication optica...
 3  Bandwidth Links Nodes terminal Network switchi...
 4  Space-division Frequency-division Time-divisio...
 5  Communication protocol Computer network Data t...
 6  Cellular network Ethernet ISDN LAN Mobile NGN ...
 7  ARPANET BITNET CYCLADES FidoNet Internet Inter...
 8  Africa Americas North South Antarctica Asia Eu...
 9  Telecommunication portal  Category  Outline  C...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteTelecommunications.2
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN
 7                                                NaN
 8                                                NaN
 9  Telecommunication portal  Category  Outline  C...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [0]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

In [31]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [6]:
bikes = pd.read_csv('..\\DATA\\bikeshare.csv')
bikes

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [38]:
#ANSWER
#17380 rows 
#17 columns

What are the column names in `bikes`?

In [60]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [56]:
#ANSWER
bikes.iloc[[(0)]]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt

What are the data types of these columns?

In [0]:
#ANSWER
#strings

What is the (row) index for this DataFrame?

In [61]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [62]:
bikes['season']

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [63]:
#ANSWER
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [66]:
#ANSWER
#bikes.atemp[:4]
#bikes.atemp.tail(1), last row
bikes['atemp'].iloc[0:4]

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [0]:
bikes[[0]]
#E: bikes[0]
#E: bikes[0,0]
#E: bikes[[0,0]]

What is the correct way to access the 1st row of the DataFrame by its index?

In [67]:
#ANSWER
bikes.iloc[0]

instant                1
dteday        2011-01-01
season                 1
yr                     0
mnth                   1
hr                     0
holiday                0
weekday                6
workingday             0
weathersit             1
temp                0.24
atemp             0.2879
hum                 0.81
windspeed              0
casual                 3
registered            13
cnt                   16
Name: 0, dtype: object

What is the correct way to access the 2nd column of the DataFrame by its index?

In [77]:
#ANSWER
bikes.iloc[:, [1]], #bikes.iloc[:, 1] series

           dteday
0      2011-01-01
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
17374  2012-12-31
17375  2012-12-31
17376  2012-12-31
17377  2012-12-31
17378  2012-12-31

[17379 rows x 1 columns]

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

In [ ]:
# isnull () functions are used to find the missing values in the pandas dataframe

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [0]:
bikes.isnull().head()

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [76]:
#ANSWER
#bikes.isnull().sum()
bikes.isnull().head() #no NA value that's why False

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
bikes.isnull().any()

instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt    False
dtype: bool

In [10]:
bikes[bikes.isnull()] #for Nan Values

      instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
17374                                                NaN
17375                                                NaN
17376                                                NaN
17377                                                NaN
17378                                                NaN

[17379 rows x 1 columns]

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [0]:
#ANSWER
#isna() The nan is a constant that indicates that the given value is not legal - Not a Number.

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [14]:
def scalar(x,y):
    if  y==0:
        return np.nan

In [15]:
(1,0)

(1, 0)

In [78]:
#ANSWER
bikes.isna().head

<bound method NDFrame.head of        instant  dteday  season     yr   mnth     hr  holiday  weekday  \
0        False   False   False  False  False  False    False    False
1        False   False   False  False  False  False    False    False
2        False   False   False  False  False  False    False    False
3        False   False   False  False  False  False    False    False
4        False   False   False  False  False  False    False    False
...        ...     ...     ...    ...    ...    ...      ...      ...
17374    False   False   False  False  False  False    False    False
17375    False   False   False  False  False  False    False    False
17376    False   False   False  False  False  False    False    False
17377    False   False   False  False  False  False    False    False
17378    False   False   False  False  False  False    False    False

       workingday  weathersit   temp  atemp    hum  windspeed  casual  \
0           False       False  False  False  False      False   False
1           False       False  False  False  False      False   False
2           False       False  False  False  False      False   False
3           False       False  False  False  False      False   False
4           False       False  False  False  False      False   False
...           ...         ...    ...    ...    ...        ...     ...
17374       False       False  False  False  False      False   False
17375       False       False  False  False  False      False   False
17376       False       False  False  False  False      False   False
17377       False       False  False  False  False      False   False
17378       False       False  False  False  False      False   False

       registered    cnt
0           False  False
1           False  False
2           False  False
3           False  False
4           False  False
...           ...    ...
17374       False  False
17375       False  False
17376       False  False
17377       False  False
17378       False  False

[17379 rows x 17 columns]>

Apply the Pandas `isna` function to the following data objects:

In [0]:
x = 2.3
y = np.nan
print(x, y)

In [182]:
#ANSWER
x = 2.3
y = np.nan
print(x, y)

2.3 nan

array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

In [80]:
#ANSWER
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [83]:
#ANSWER
print(len(bikes['season']))

17379

In [89]:
bikes['season'].value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [113]:
#ANSWER
bikes['instant'].iloc[:]

0            1
1            2
2            3
3            4
4            5
         ...
17374    17375
17375    17376
17376    17377
17377    17378
17378    17379
Name: instant, Length: 17379, dtype: int64

In [116]:
bikes['dteday'].iloc[:]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

In [117]:
bikes['windspeed'].iloc[:]

0        0.0000
1        0.0000
2        0.0000
3        0.0000
4        0.0000
          ...
17374    0.1642
17375    0.1642
17376    0.1642
17377    0.1343
17378    0.1343
Name: windspeed, Length: 17379, dtype: float64

Compute and print the overall minimum and maximum of the numeric data columns:

In [0]:
bikes_min, bikes_max = (min(bikes.min()), max(bikes.max()))
bikes_min, bikes_max

In [129]:
bikes_min = bikes.min()
print(bikes_min)

instant                1
dteday        2011-01-01
season                 1
yr                     0
mnth                   1
hr                     0
holiday                0
weekday                0
workingday             0
weathersit             1
temp                0.02
atemp                  0
hum                    0
windspeed              0
casual                 0
registered             0
cnt                    1
dtype: object

In [130]:
bikes_max = bikes.max()
print(bikes_max)

instant            17379
dteday        2012-12-31
season                 4
yr                     1
mnth                  12
hr                    23
holiday                1
weekday                6
workingday             1
weathersit             4
temp                   1
atemp                  1
hum                    1
windspeed         0.8507
casual               367
registered           886
cnt                  977
dtype: object

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [0]:
bikes['atemp'].quantile(0.5)

In [131]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [138]:
#ANSWER
bikes['atemp'].quantile([0.1, 0.25, 0.50, 0.75, 0.90])

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [0]:
type(bikes['atemp'])

In [139]:
type(bikes['atemp'])

pandas.core.series.Series

In [0]:
bikes.sample(5)

In [140]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
11598,11599,2012-05-03,2,1,5,11,0,4,1,1,0.54,0.5152,0.77,0.0000,34,167,201
14912,14913,2012-09-18,3,1,9,13,0,2,1,2,0.70,0.6667,0.74,0.5821,17,97,114
10487,10488,2012-03-18,1,1,3,2,0,0,0,2,0.46,0.4545,0.82,0.1045,15,41,56
1130,1131,2011-02-19,1,0,2,20,0,6,0,1,0.32,0.2879,0.28,0.5224,9,38,47
5010,5011,2011-08-01,3,0,8,16,0,1,1,1,0.90,0.7879,0.27,0.0000,34,197,231

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [24]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [ ]:
#ANSWER
#Discretised data
#Discretization refers to the process of converting continuous features or variables to discretized or nominal features.

In [25]:
#ANSWER
atemp_level = pd.cut(bikes['atemp'], bins = 4)    
atemp_level

0        (0.25, 0.5]
1        (0.25, 0.5]
2        (0.25, 0.5]
3        (0.25, 0.5]
4        (0.25, 0.5]
            ...
17374    (0.25, 0.5]
17375    (0.25, 0.5]
17376    (0.25, 0.5]
17377    (0.25, 0.5]
17378    (0.25, 0.5]
Name: atemp, Length: 17379, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

In [26]:
atemp_level.value_counts()

(0.25, 0.5]       7507
(0.5, 0.75]       7223
(-0.001, 0.25]    1952
(0.75, 1.0]        697
Name: atemp, dtype: int64

Here is a random sample of `atemp_level`:

In [143]:
atemp_level.sample(5)

5583    (0.5, 0.75]
8793    (0.25, 0.5]
5355    (0.5, 0.75]
7403    (0.25, 0.5]
7969    (0.25, 0.5]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [7]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

15301    warm
13299    warm
6138     mild
11606    warm
12423    warm
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [11]:
#ANSWER
bikes1 = bikes.assign(atemp_level = atemp_level) 
bikes1

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,atemp_level
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,mild
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,mild
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,mild
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,mild
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,mild
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119,mild
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89,mild
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90,mild
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61,mild
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49,mild

In [25]:
len(bikes1[bikes1.atemp_level == 'mild'])

7507

In [26]:
bikes1['atemp_level'].value_counts()

mild    7507
warm    7223
cool    1952
hot      697
Name: atemp_level, dtype: int64

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [145]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [148]:
a = np.zeros((3))
a

array([0., 0., 0.])

In [149]:
b

array([[1., 1., 1.]])

In [150]:
c

array([[[1, 8, 7, 1],
        [1, 9, 3, 2],
        [4, 4, 5, 6]],

       [[5, 8, 3, 7],
        [6, 6, 8, 8],
        [5, 3, 3, 6]]])

In [151]:
d

array([0, 1, 2, 3])

In [152]:
e

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [0]:
# Cleaning Data

## Load Data

Load rock.csv and clean the dataset.

In [4]:
rock = pd.read_csv('..\\DATA\\rock.csv')
print(rock)

                                       Song Clean ARTIST CLEAN Release Year  \
0                                Caught Up in You  .38 Special         1982
1                                    Fantasy Girl  .38 Special          NaN
2                                 Hold On Loosely  .38 Special         1981
3                          Rockin' Into the Night  .38 Special         1980
4                               Art For Arts Sake         10cc         1975
...                                           ...          ...          ...
2225                      She Loves My Automobile       ZZ Top          NaN
2226                            Tube Snake Boogie       ZZ Top         1981
2227                                         Tush       ZZ Top         1975
2228                                   TV Dinners       ZZ Top         1983
2229  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO       ZZ Top         1973

                                               COMBINED  First?  Year?  \
0                       Caught Up in You by .38 Special       1      1
1                           Fantasy Girl by .38 Special       1      0
2                        Hold On Loosely by .38 Special       1      1
3                 Rockin' Into the Night by .38 Special       1      1
4                             Art For Arts Sake by 10cc       1      1
...                                                 ...     ...    ...
2225                  She Loves My Automobile by ZZ Top       1      0
2226                        Tube Snake Boogie by ZZ Top       1      1
2227                                     Tush by ZZ Top       1      1
2228                               TV Dinners by ZZ Top       1      1
2229  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...       1      1

      PlayCount  F*G
0            82   82
1             3    0
2            85   85
3            18   18
4             1    1
...         ...  ...
2225          1    0
2226         32   32
2227        109  109
2228          1    1
2229          2    2

[2230 rows x 8 columns]

## Check Column Names

Check column names and clean.

In [157]:
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

# Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [167]:
rock.isnull()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2225,False,False,False,False,False,False,False,False
2226,False,False,False,False,False,False,False,False
2227,False,False,False,False,False,False,False,False
2228,False,False,False,False,False,False,False,False
2229,False,False,False,False,False,False,False,False

In [170]:
pd.isnull(rock["Release Year"])

0       False
1       False
2       False
3       False
4       False
        ...
2225    False
2226    False
2227    False
2228    False
2229    False
Name: Release Year, Length: 2230, dtype: bool

In [171]:
rock["Release Year"].fillna("0", inplace = True)

In [172]:
rock

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
...,...,...,...,...,...,...,...,...
2225,She Loves My Automobile,ZZ Top,0,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

In [173]:
rock['Release Year']

0       1982
1          0
2       1981
3       1980
4       1975
        ...
2225       0
2226    1981
2227    1975
2228    1983
2229    1973
Name: Release Year, Length: 2230, dtype: object

# Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [158]:
type(rock)

pandas.core.frame.DataFrame

# Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [174]:
rock_min = rock.min()
print(rock_min)

Song Clean                     #9 Dream
ARTIST CLEAN                .38 Special
Release Year                          0
COMBINED        #9 Dream by John Lennon
First?                                1
Year?                                 0
PlayCount                             0
F*G                                   0
dtype: object

In [175]:
rock_max = rock.max()
print(rock_max)

Song Clean                     Ziggy Stardust
ARTIST CLEAN                             a-ha
Release Year                    SONGFACTS.COM
COMBINED        Ziggy Stardust by David Bowie
First?                                      1
Year?                                       1
PlayCount                                 142
F*G                                       142
dtype: object

# Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [183]:
rock.iloc[1]

Song Clean                     Fantasy Girl
ARTIST CLEAN                    .38 Special
Release Year                              0
COMBINED        Fantasy Girl by .38 Special
First?                                    1
Year?                                     0
PlayCount                                 3
F*G                                       0
Name: 1, dtype: object

In [234]:
def row(index):
    row=rock.iloc[index]
    return row

In [235]:
row(1)

Song Clean                     Fantasy Girl
ARTIST CLEAN                    .38 Special
Release Year                              0
COMBINED        Fantasy Girl by .38 Special
First?                                    1
Year?                                     0
PlayCount                                 3
F*G                                       0
Name: 1, dtype: object

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [241]:
rock['Release Year'] = pd.to_numeric(rock['Release Year'], errors='coerce')
rock = rock.replace(np.nan, 0, regex=True)
rock

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982.0,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0.0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981.0,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980.0,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975.0,Art For Arts Sake by 10cc,1,1,1,1
...,...,...,...,...,...,...,...,...
2225,She Loves My Automobile,ZZ Top,0.0,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981.0,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975.0,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983.0,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973.0,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

In [257]:
def converted_cells(column):
    rock1 = pd.to_numeric(rock[column], errors='coerce')
    return rock1

In [260]:
converted_cells('Song Clean')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2225   NaN
2226   NaN
2227   NaN
2228   NaN
2229   NaN
Name: Song Clean, Length: 2230, dtype: float64

In [256]:
#df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'], errors='coerce')
#df = df.replace(np.nan, 0, regex=True)

## Apply these functions to your dataset

## Describe the new float-only DataFrame.